.nav-bar {
    width: max-content;
}



.nav-item {
    position: relative;
    width: max-content;
}


.link-text {
    font-size: 1rem;
    padding: 12px 12px;
    margin-left: 1rem;
    transition: color 0.4s ease;
}
.link-text:hover{
    color:  var(--detail-pry);
}

.log-regs {
    grid-area: log-regs;
}
@media(max-width: 1540px){
    .link-text{
        font-size: .85rem;
    }
}
@media(max-width: 1240px){
    .link-text{
        font-size: .75rem;
    }
}
@media(max-width: 1140px){
    .link-text{
        font-size: .65rem;
    }
}
@media(max-width: 1050px){
    .link-text{
        font-size: .55rem;
    }
}