.header-nav {
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-primary);
    border: 0;
}

.box-lay-header {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: minmax(100px, 1fr) minmax(200px, 2fr) minmax(200px, 1fr);
    grid-template-rows: 60px auto;
    grid-template-areas:
        'logo inp-search menu-prom'
        'row-2 row-2 row-2';
}


.logo {
    margin-right: 40px;
    grid-area: logo;
}

.wrapper-logo {
    height: 50px;
    width: 50px;
}

.wrapper-logo img,
.butt-submit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper-cont {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.prom {
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 20px;
    grid-area: menu-prom;
}


.row-2{
    grid-area: row-2;
    display: grid;
    grid-auto-columns: minmax(150px, 1fr) minmax(2fr, 3fr) minmax(1fr, 2fr);
    grid-template-areas: 'api-loca nav-bar log-regs';
}
.api-location {
    grid-area: api-loca;
}

.conteiner-nav {
    grid-area: nav-bar;
}

.log-regs {
    grid-area: log-regs;
}

.toggle-sub-menu {
    position: relative;
}
.menu{
    grid-area: menu;
}
.button-menu{
    height: 35px;
    width: 35px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--bg-primary);
}
.button-menu span{
    font-size: 1.3rem;
}

@media (max-width: 970px) {
    .row-2{
        grid-template-areas: 'menu menu menu';
    }
}